<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIGLOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear />
    <add key="StringConexion"  value='data source=.\SQLEXPRESS; initial catalog=SIGLOP; user id=sa; password=siglop; MultipleActiveResultSets=True' />
  </appSettings>
  <userSettings>
    <SIGLOP.Properties.Settings>
      <setting name="StockMateriasPrimas" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="VistaStockSimple" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="VistaStockCurvas" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="AlertaFaltantes" serializeAs="String">
        <value>S</value>
      </setting>
    </SIGLOP.Properties.Settings>
  </userSettings>
</configuration>